<header role="banner" class="w-full p-4 bg-gray-100">
    <div class="flex items-center justify-between">
        <a href="{{ build.url }}" rel="home" class="text-lg font-bold leading-tight">{{ meta.title }}</a>
    </div>
</header>