<!DOCTYPE html>
<html lang="en-us" class="antialiased font-normal text-gray-700 bg-white">
    <head>
        {% include "head.njk" %}
        <link rel="stylesheet" href="/assets/site.css">
        <script src="/assets/site.js" defer></script>
    </head>
    <body>
        <header role="banner" class="p-6">
            <div class="container">
                <a href="/" rel="home">{{ site.title }}</a>
            </div>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer role="contentinfo">

        </footer>
    </body>
</html>
