---
layout: base.njk
title: Welcome
---

{%- from "macros.njk" import component -%}

<h1>bonjour monde</h1>
<div class="p-6">
    <div class="container">
        {{ component("headings/title", { content: "Title Component" }) }}
    </div>
</div>